*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
}


 .container{
    width: 100%;
    height: 100vh;
    background-color:#919198;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    background-color: rgba(0, 0, 0, 0.803) ;
    padding: 20px;
    border-radius: 10px;
}
.calculator input{
    box-shadow: -8px -8px 15px rgba(225,225,225,0.1),5px 5px 15px rgba(0,0,0,0.2);
    background: transparent;
    height: 50px;
    color: white;
    border: 0;
    outline: 0;
    width: 320px;
}
.calculator button{
    border: 0;
    outline: 0;
    width: 60px; 
    height: 60px;
    border-radius: 10px;
    background: transparent;
    box-shadow: -8px -8px 15px rgba(225,225,225,0.1),5px 5px 15px rgba(0,0,0,0.2);
    font-size: 20px;
    color: white;
    cursor: pointer;
    margin: 10px;
}

 .buttons button .btn{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
} 
  .buttons button .btn{
    box-shadow: none;
    font-size: 45px;
    text-align: right;
    flex:1;
   
}
 .buttons .butt{
    width: 145px;

} 
.buttons  .equal-btn{
    color:orange;

} 



 
